@font-face {
    font-family: 'hotline-white';
    src: url('../assets/fonts/WIDEAWAKE.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;

}

/* h1 {
    font-family: 'hotline-white', arial, sans-serif;
} */